<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E Pass Registration Status</title>
    <style>
        body{
        background-color:#90EE90
        }
    </style>
</head>
<body>
<center>
    <h1>E-Pass Registration Status</h1>
    <table>
        <tr>
            <td><font size="5">Full Name</font></td>
            <td><font size="5">{{var}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Email</font></td>
            <td><font size="5">{{var1}}</font></td>
        </tr>
        <tr>
            <td><font size="5">ID Proof</font></td>
            <td><font size="5">{{var2}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Source State</font></td>
            <td><font size="5">{{var3}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Source District</font></td>
            <td><font size="5">{{var4}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Destination State</font></td>
            <td><font size="5">{{var5}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Destination District</font></td>
            <td><font size="5">{{var6}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Phone Number</font></td>
            <td><font size="5">{{var7}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Date of Travel</font></td>
            <td><font size="5">{{var8}}</font></td>
        </tr>
        <tr>
            <td><font size="5">Status</font></td>
            <td><font color="red" size="5">{{var9}}</font></td>
        </tr>
    </table>
</center>
</body>
</html>